; Default: public npm registry for package installation
registry=https://registry.npmjs.org/
@inficon:registry //isaplus.pkgs.visualstudio.com/_packaging/InficonNugets/npm/registry/:_authToken=${NPM_TOKEN}
